<span ng-bind="utils.wrap.start(node)"></span>
<span ng-bind="node.isCollapsed ? utils.wrap.middle(node) : \'&nbsp;&nbsp;&nbsp;\'" ng-click="utils.clickNode(node)"></span>
<ul ng-hide="node.isCollapsed">
    <li ng-repeat="key in utils.keys(json) track by key">' +
        <span  class="key" ng-click="utils.clickNode(childs[key])" >{{ key }}: </span>
        <span ng-hide="childs[key].isObject()">
                                <input ng-show="childs[key].type() === \'boolean\'" type="checkbox" ng-model="json[key]"/>
                                <input ng-show="childs[key].type() === \'number\'" type="number" ng-model="json[key]"/>
                                <input ng-show="childs[key].type() !== \'number\'" type="text" ng-model="json[key]" ng-change="utils.validateNode(key)" placeholder="null"/>
                            </span>
        <json-tree json="json[key]" collapsed-level="{{+collapsedLevel - 1}}" node="childs[key]" ng-show="childs[key].isObject()"></json-tree>
        </li>
    </ul>
<span ng-bind="utils.wrap.end(node)"></span>